{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "name": "Rotterdam"
      },
      "geometry": {
        "coordinates": [
          [
            [
              4.369498592495802,
              51.958455125061136
            ],
            [
              4.373182175674373,
              51.88121056902091
            ],
            [
              4.581304625280353,
              51.883484364969945
            ],
            [
              4.581304625280353,
              51.956185123200754
            ],
            [
              4.369498592495802,
              51.958455125061136
            ]
          ]
        ],
        "type": "Polygon"
      },
      "id": 0
    },
    {
      "type": "Feature",
      "properties": {
        "name": "Delft"
      },
      "geometry": {
        "coordinates": [
          [
            [
              4.295982038101329,
              52.00389308634209
            ],
            [
              4.296642639249029,
              51.93664635994443
            ],
            [
              4.391828409445139,
              51.93869496597881
            ],
            [
              4.378515338215578,
              52.05590297576828
            ],
            [
              4.295982038101329,
              52.00389308634209
            ]
          ]
        ],
        "type": "Polygon"
      },
      "id": 1
    },
    {
      "type": "Feature",
      "properties": {
        "name": "Zoetermeer"
      },
      "geometry": {
        "coordinates": [
          [
            [
              4.5569059540585215,
              52.05755070168621
            ],
            [
              4.55896281693299,
              52.07321843172642
            ],
            [
              4.422189549354215,
              52.07497579264873
            ],
            [
              4.423776580170085,
              52.057544818571586
            ],
            [
              4.5569059540585215,
              52.05755070168621
            ]
          ]
        ],
        "type": "Polygon"
      },
      "id": 2
    }
  ]
}
